html {
    position: relative;
    min-height: 100%;
    width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    background-image: url(http://www.transparenttextures.com/patterns/sandpaper.png);
    line-height: 1;
    color: #3C3C3C;
}
.green
{
    background: #1e2019;
}

header h1
{
    color: #f5f1e3;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #1e2019;
}

footer span
{
    color: #f5f1e3;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
}

div.container a
{
    color: #f5f1e3;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #F34213;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

.active{
    color: #F34213 !important;
}
/*QLKSDFJQSLFKQSLKDJFLSKQDJKLQFSDJFKLQSJKLFJQSDLKFJQSLKJFKLQSDJFKLQSJKLFJQSKLJFKLQSDJFKLSJLKFJSQKLFJSDKLDJLKQSDJFLK*/

.homeSection{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid #C4C4C2;
    border-bottom: 2px solid #C4C4C2;
}

.homeSection p{
    /*margin-left: 12em;*/
    /*margin-right: 2em;*/
}

.homeSection article{
    margin-left: 5em;
}

hr{
    margin: 0;
}

.homeImg{
    margin: auto;
    border-radius: 200px;
}


#download{
    /*padding: 3.3em 1em 3.3em 1em;*/
    padding: 1.5em;
    color: #1e2019;
    /*border-radius: 200px;*/
    text-decoration: none;
}

.cvSection{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
    width: 50%;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid #C4C4C2;
    border-bottom: 2px solid #C4C4C2;
}



.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #F34213;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #F34213;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* Underline From Right */
.hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #F34213;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
    left: 0;
}

/*FOOTER*/
ul.share-buttons{
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
footer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}



.socializer{
    margin-left: 40% !important;
}